.favSection {
    position:fixed;
    bottom: 3em;
    right: 6%;
    background-color: white;
    border-radius: 50%;
}
.favImg img {
    padding-top: 0.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}